<div class="home-top">
<h1>Alpha Blog</h1>
<h4>A Great Blog</h4>
</div>
<div class="nav">
<%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Category1' %> | <%= link_to 'Category2' %> | <%= link_to 'Contact' %>
</div>
<hr>
<div class="home-main">
<h2>About Alpha Blog</h2>
<p>Welcome to Alpha Blog. Alpha Blog is a uniques blog about absolutely anything and everything. In my opinon this makes it simply the best blog on the entire web. Hence the name <i>Alpha Blog</i>.</p>
</div>
<div class="home-side">
  <h3>Most Popular</h3>
  <p>Render most popular posts here</p>
</div>
